@model Webfirst.Models.ParametrOfBook

@{
    ViewData["Title"] = "Edit Book";
}

<h1>Edit Book</h1>

<form asp-action="EditBook" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div>
        <label for="Title">Title:</label>
        <input type="text" id="Title" name="Title" value="@Model.Title" required />
    </div>
    <div>
        <label for="Author">Author:</label>
        <input type="text" id="Author" name="Author" value="@Model.Author" required />
    </div>
    <div>
        <label for="Genre">Genre:</label>
        <input type="text" id="Genre" name="Genre" value="@Model.Genre" required />
    </div>
    <div>
        <label for="Year">Year:</label>
        <input type="number" id="Year" name="Year" value="@Model.Year" required />
    </div>
    <div>
        <label for="Pages">Pages:</label>
        <input type="number" id="Pages" name="Pages" value="@Model.Pages" required />
    </div>
    <div>
        <label for="Language">Language:</label>
        <input type="text" id="Language" name="Language" value="@Model.Language" required />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
