	@{
		ViewData["Title"] = "List of book";
	}
	<h1>Books in the Library</h1>
<a asp-action="AddBook" class="btn btn-primary">Add a New Book</a>
		<table class="table table - stripped">
		<thread>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Genre</th>
				<th>Year</th>
				<th>Pages</th>
				<th>Language</th>
			</tr>
		</thread>
		<tbody>
			@foreach (var book in Model)
			{
				<tr>
					<td>@book.Title</td>
					<td>@book.Author</td>
					<td>@book.Genre</td>
					<td>@book.Year.ToString()</td>
					<td>@book.Pages.ToString()</td>
					<td>@book.Language</td>
					<td>
						<a asp-action="EditBook" asp-route-id="@book.Id" class="button alert-warning btn-sm">Edite</a>
						<form asp-action="DeleteBook" method="post" style="display:inline;">
							<input type="hidden" name="Id" value="@book.Id"/>
							<button type="submit" class="btn btn-danger btn-sm">Delete</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
	@* <p>Це перша сторінка, створена за допомогою ASP.NET MVC.</p>
	<p><strong>Message from Controller:</strong> @ViewData["Message"]</p>
	<p><strong>Message from Controller:</strong> @ViewBag.Greeting</p>
 *@